{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "tailwindConfig": "./tailwind.config.js",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babel",
        "useTabs": true
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
