/* CSS for 404 page */

body {
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}