/* index.html CSS

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #000000f5;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin: 10;
    padding: 0;
    overflow: scroll;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    text-align: left;
}

footer {
    color: #535353;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

footer p {
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    font-size: 20px;
  }
  
nav ul {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
  
nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.resume-nav a {
    background-color: #333;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    position: fixed;
}

#resume {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

#resume h2 {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
}

#resume h3 {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
}

#resume h4 {
    font-size: 1.25em;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding: 0;
}

#resume p {
    margin: 0;
    padding: 0;
    text-align: left;
}

#resume ul {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
a:hover {
    color: #858585;
    text-decoration: none;
}

[href] {
    color: #fff;
    text-decoration: underline;
} */

/* The sidepanel menu */
.sidebar {
  position: fixed;
  top: 0;
  left: -200px; /* hide the sidebar by default */
  height: 100%;
  width: 200px;
  background-color: #333;
  color: #fff;
  transition: left 0.5s;
}

.sidebar-toggle {
  position: absolute;
  top: 10px;
  right: -20px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sidebar-content {
  padding: 20px;
}
